{{#if editingTopic}}
    <div class="tagger-tags-view">
        <label>Tags:</label>
        {{#if new_tags}}
            {{#each new_tags}}
              <button class="btn btn-danger tagger-tag" {{action removeTag this }} title="Remove {{this}} tag"><i class='fa fa-times'></i> {{this}}</button>
            {{/each}}
        {{/if}}
        {{#if model.tag_list}}
          <div id="available-tags-SP" class="available-tags-SP">
            <label>Available tags:</label>
            {{#each model.tag_list}}
              <button class="btn tagger-tag" {{action addTag this }} title="Add {{this}} tag"><i class="fa fa-plus"></i> {{this}}</button>
            {{/each}}
          </div>
        {{/if}}
    </div>
{{else}}
    {{#if model.tags}}
    	<div class="tagger-tags-view">
    		<span>Tags:</span>
    	  {{#each model.tags}}
    		<a href="/tag/{{unbound this}}" class="tagger-tag btn">{{this}}</a>
    	  {{/each}}
    	</div>
    {{/if}}
{{/if}}
